:global(html:has(#editorPage) *) {
	touch-action: none;
}

:global(html #editorPage #topBar) {
	touch-action: auto !important;
}

:global(html #editorPage #topBar *) {
	touch-action: auto !important;
}

:global(#editorPage) {
	#overlayCanvas,
	#overlayLineCanvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 10;
	}

	#overlayLineCanvas {
		z-index: 12;
	}

	#canvasContainer {
		position: relative;
		width: 100%;
		height: 100%;

		container: canvasContainer / size;

		display: flex;
		align-items: center;
		justify-content: center;

		> canvas,
		> img {
			position: absolute;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;

			anchor-name: --result;

			&#pushShareCanvas {
				display: none;
			}

			&#cornerPointCanvas {
				z-index: 5 !important;
			}
		}

		#cornerZoomWrapper {
			--left: 0px;
			--right: 0px;
			position: absolute;
			top: -100vw;
			left: -100vh;
			/*width: calc(0.5rem + 3 * 0.2rem);
                    height: calc(0.5rem + 3 * 0.2rem);*/
			/* width: calc(2 * 0.5rem + 0.2rem);
                    height: calc(2 * 0.5rem + 0.2rem); */

			width: 19px;
			height: 19px;
			padding: 0.2rem;
			background-color: orange;

			// WIDTH 1.1rem + 2 * 0.2rem (border) -> 1.5rem
			//border: 0.2rem solid orange;
			//background-color: orange;
			//background-color: black;
			border-radius: 100%;

			pointer-events: none;

			//margin-left: calc(-2rem - 0.2rem);
			// margin-top: calc(-2rem - 0.2rem);

			transform: translate(-50%, -50%);
			//scale: 0.25;
			opacity: 1;
			transition:
				width 0.25s ease-out,
				height 0.25s ease-out,
				opacity 0.25s ease-out;
			transform-origin: top left;

			overflow: hidden;

			display: flex;
			align-items: center;
			justify-content: center;
			//display: block;

			&::after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;

				opacity: 1;
				transition: opacity 0.25s ease-in-out;

				background-color: rgba(255, 166, 0, 0.25);
			}

			> canvas {
				position: relative;
				/*top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);*/
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 0px;
				background-color: black;
				border-radius: 100%;
				flex-grow: 1;
			}
		}
	}
}

:global(#overlayZoomCanvas) {
	--x: 800px;
	--y: 500px;
	--scale: 1;

	/*@property --scale {
		syntax: "<number>";
		inherits: false;
		initial-value: 1;
	}*/

	position: fixed;
	top: anchor(--result top);
	left: anchor(--result left);
	width: anchor-size(--result width);
	height: anchor-size(--result height);
	opacity: 1;

	transition: 0.25s ease-out;
	transition-property: scale, opacity;

	scale: var(--scale);
	/*transform: translate(
		calc(var(--x) / var(--scale)),
		calc(var(--y) / var(--scale))
	);*/
	transform-origin: var(--x) var(--y);

	pointer-events: none;

	// -1px for border
	clip-path: circle(0.5rem at var(--x) var(--y));

	z-index: 11;

	//display: none;

	& + #overlayZoomCircle {
		position: fixed;
		--x: 0px;
		--y: 0px;
		--scale: 1;
		top: anchor(--result top);
		left: anchor(--result left);
		width: calc(1rem * var(--scale));
		height: calc(1rem * var(--scale));
		margin-top: calc(-0.5rem * var(--scale));
		margin-left: calc(-0.5rem * var(--scale));
		background-color: rgba(255, 166, 0, 0.25);
		//background-color: rgba(255, 255, 255, 0.25);
		z-index: 16;

		transform: translate(var(--x), var(--y));

		transition: 0.25s ease-out;
		transition-property: width, height, margin, background-color;

		border-radius: 100%;

		//transform: scale(var(--scale));
		//scale: var(--scale);
		//transform-origin: bottom bottom;
		outline: 2px solid white;
		outline-offset: -1px;

		//scale: var(--scale);
	}
}

:global(body.showCornerZoomCanvas #overlayZoomCanvas) {
	--scale: 4;
	opacity: 1;
}

:global(body.showCornerZoomCanvas #overlayZoomCircle) {
	--scale: 4 !important;
	opacity: 1;
	background-color: transparent !important;
}
