:global(#editorPage) {
    #overlayCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
    }

    #canvasContainer {
        position: relative;
        width: 100%;
        height: 100%;

        container: canvasContainer / size;

        display: flex;
        align-items: center;
        justify-content: center;

        > canvas,
        > img {
            position: absolute;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;

            &#pushShareCanvas {
                display: none;
            }

            &#cornerPointCanvas {
                z-index: 5 !important;
            }
        }

        #cornerZoomWrapper {
            --left: 0px;
            --right: 0px;
            position: absolute;
            top: -100vw;
            left: -100vh;
            /*width: calc(0.5rem + 3 * 0.2rem);
                    height: calc(0.5rem + 3 * 0.2rem);*/
            /* width: calc(2 * 0.5rem + 0.2rem);
                    height: calc(2 * 0.5rem + 0.2rem); */

            width: 19px;
            height: 19px;
            padding: 0.2rem;
            background-color: orange;

            // WIDTH 1.1rem + 2 * 0.2rem (border) -> 1.5rem
            //border: 0.2rem solid orange;
            //background-color: orange;
            //background-color: black;
            border-radius: 100%;

            pointer-events: none;

            //margin-left: calc(-2rem - 0.2rem);
            // margin-top: calc(-2rem - 0.2rem);

            transform: translate(-50%, -50%);
            //scale: 0.25;
            opacity: 1;
            transition: width 0.25s ease-out, height 0.25s ease-out,
                opacity 0.25s ease-out;
            transform-origin: top left;

            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            //display: block;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;

                opacity: 1;
                transition: opacity 0.25s ease-in-out;

                background-color: rgba(255, 166, 0, 0.25);
            }

            > canvas {
                position: relative;
                /*top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);*/
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 0px;
                background-color: black;
                border-radius: 100%;
                flex-grow: 1;
            }
        }
    }
}
