:global(#homePage) {
	background-color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: safe center;
	gap: 0.75rem;

	// M3E Design
	gap: 0.5rem;

	padding-block: calc(7rem + 1.5rem);

	#startIcon {
		font-size: 8rem;
		color: rgba(211, 211, 211, 0.5);
		//color: rgba(128, 128, 128, 0.5);
		margin-bottom: 3rem;
	}

	> hr {
		width: 7.5rem;
		height: 1px;
		background-color: rgba(128, 128, 128, 0.5);
		margin-block: 0.25rem;
		border: none;
	}

	#pushShareSection {
		position: fixed;
		bottom: 2rem;
		width: 22rem;
		height: 5rem;

		border: 2px solid gray;
		border-radius: 1rem;

		background-color: rgba(128, 128, 128, 0.6);

		padding: 0.5rem;

		display: grid;
		grid-template-columns: 2.5rem 1fr 2.5rem;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
		justify-items: center;

		color: white;

		i {
			font-size: 1.5rem;
			width: min-content;
		}

		#offline {
			display: none;
			width: 100%;
			height: 100%;
			//display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			font-size: 1.5rem;

			> i {
				color: red;
			}
		}

		> div {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			#pushShareNameInput {
				all: unset;
				background-color: #212426;
				box-sizing: border-box;
				border: 1px solid lightgray;
				border-radius: 0.25rem;
				padding: 0.1rem;
				font-size: 0.9rem;
			}
		}
	}
}
